<style type="text/css">
.section {
    text-align:center;
    padding:10px 0;
}
img {
    display:inline;
    padding:0 30px;
}
</style>


<div class="container">
    {{> organisms-header }}    
    <form method="post" action="./contact.aspx" id="aspnetForm">
<div class="aspNetHidden">
<input type="hidden" name="ctl00_ToolkitScriptManager1_HiddenField" id="ctl00_ToolkitScriptManager1_HiddenField" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMjEwNDQyMTMxMw9kFgJmD2QWAgIGD2QWAgIDDxYCHgVjbGFzcwUQbWFpbiBoaWRlU2lkZWJhcmRkzViufU+Izw8AwWwjqWrkDUwyfW/x7DqZsiQPBeylMYk=" />
</div>
<div class="aspNetHidden">

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CD2448B2" />
</div>

        <div id="ctl00_main" class="main hideSidebar">
            <div id="ctl00_masterSidebar" class="sidebar">
                <h3 style="margin:0 auto;"></h3>
                <ul id="ctl00_navSidebar" class="secondary-nav"></ul>
            </div>
            <div class="content clearfix">
                
<h3>Contact</h3>
<br />
<p style="width:85%;margin:auto;">
Everyone benefits from quality childcare—parents, providers and, most importantly,
children. That's why the <a href="http://jobs.utah.gov/occ/">Utah Office of Child Care</a> created this website
(careaboutchildcare.utah.gov) in partnership with the <a href="http://childcarelicensing.utah.gov/">Child Care Licensing Program</a>,
the <a href="https://ccpdi.usu.edu/htm/">Child Care Professional Development Institute</a>, and
<a href="/contactRegions.aspx">Utah's Care About Childcare Agencies</a>. Launched in February 2012, the
site promotes quality childcare and helps parents locate licensed
providers in their area. This website also provides links to childcare and child
development resources for parents, grandparents and providers.
</p>
<p style="text-align:center;">Thank you for Caring About Childcare.</p>
<div class="section">
<h4>Toll Free Number</h4>
1-855-531-2468
</div>
<div class="section">
<h4>Email</h4>
<a href="mailto:ccpdi@usu.edu" title="Email Us">ccpdi@usu.edu</a>
</div>
<div class="section">
<h4>Para asistencia en español por favor llame a</h4>
1-801-326-4376
</div><br />
<div class="section">
<a href="http://jobs.utah.gov/index.html" title="Department of Workforce Services"><img alt="DWS Logo" src="../../images/DWS_Logo.png" /></a>
<a href="http://jobs.utah.gov/occ/" title="Office of Child Care"><img alt="OCC Logo" src="../../images/OCC_Logo.png" /></a>
<a href="http://usu.edu/" title="Utah State University"><img alt="USU Logo" src="../../images/USU_Logo.png" /></a>
</div>
<p style="width:85%;margin:auto;">
Funding is provided by the Child Care and Development Fund through the
Utah Department of Workforce Services, Office of Child
Care and Utah State University, College of Education & Human Services, Department of
Family Consumer and Human Development
</p><br />

            </div>
        </div>
</div>

{{> organisms-footer }}
