<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #CFDEFF;"></span>
		<span class="sg-label">.clickable:hover #CFDEFF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffeeee;"></span>
		<span class="sg-label">.input-validation-error #ffeeee</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CCCCCC;"></span>
		<span class="sg-label">.dataTables_wrapper #CCCCCC</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C6DA2D;"></span>
		<span class="sg-label">#recordView #C6DA2D</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EFEFEF;"></span>
		<span class="sg-label">#mainRecord #EFEFEF</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EBDD5C;"></span>
		<span class="sg-label">#EBDD5C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FAA43F;"></span>
		<span class="sg-label">#FAA43F</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ADE1FA;"></span>
		<span class="sg-label">#ADE1FA</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C9D5C4;"></span>
		<span class="sg-label">#C9D5C4</span>
	</li>
</ul>