<div id="footer">
    <p class="copyright">
        &copy; 2015 Utah Department of Workforce Services,
        Office of Child Care. All rights reserved.
    </p>
    <div id="footer-nav" style="float:right;"> 
        <ul>
            <li><a href="parent/default.aspx">Parents</a> | </li>
            <li><a href="provider/default.aspx">Providers</a> | </li>
            <li><a href="resources/default.aspx">Resources</a> | </li>
            <li><a href="contact.aspx">Contact</a></li>
        </ul> 
    </div> 
</div>