/* BASE COLOR
----------------------------------------------------------------------------------------------------*/
html {
	background: #efefef;	
}
.container {
	background: #fefefe;
}
body, select, input, textarea {
	color:#444; 
}
#main-nav a {
	color: #010101;	
}
::-moz-selection	{ background: #78ae36; color: #fff; text-shadow: none; }
::selection			{ background: #78ae36; color: #fff; text-shadow: none; } 
::-webkit-input-placeholder {
    font-style:italic;
    color:#444;
}
:-moz-placeholder {
    font-style:italic;
    color:#444;
}
/* LAYOUT
--------------------------------------------------------------------------*/
.container, #footer {
	margin: 15px auto 0;
	padding: 10px;
	width: 970px;
}
header, #header {
	overflow: auto;
	margin-bottom: 10px;	
	position: relative;
}
#logo a {
	background: url('../images/logo.png') no-repeat;
	display: inline;
	float: left;
	margin: 0 10px 0 0;
	text-indent: -9999em;
	width: 340px; height: 92px;
}
#logo a:focus {
    /* Remove clicked outline */
    outline:none;
}
#main-nav {
	font-size: 13px;
}
#main-nav ul {
	background: #ebdd5c;
	margin-bottom: 0;
	position: absolute;
	bottom: 0; right: 0;

	-moz-border-radius: .5em .5em 0px 0px; 
	-webkit-border-radius: .5em .5em 0px 0px; 
	border-radius: .5em .5em 0px 0px;
}
#main-nav ul li {
	float: left;
	font-weight: bold;
	line-height: 2.5em;
	list-style: none;
	text-transform: uppercase;
}
#main-nav ul li#nav-about {
	padding-left: 4px;
}
#main-nav ul li.active a {
	color: #c67514;
}
#main-nav ul li a {
	background: url('../images/nav-divider.png') center right no-repeat;
	padding-left: 14px; padding-right: 18px;
}
#main-nav ul li#nav-contact a {
	background: none;
}

.sidebar ul {
	margin-bottom: 0;
}
.sidebar ul li {
	line-height: 2.5em;
}
.sidebar ul li,
.sidebar a {
	color: #474747;
	text-transform: uppercase;
	white-space:nowrap;
}
.sidebar li.active,
.sidebar li.active a {
	color: #fdfdfd;
	font-weight: bold;
}

.main {
	overflow: hidden;
}

.main h1,
.sidebar h3,
.banners h4 {
	text-align: center;
}

h1 { 
	margin-bottom: 20px;
	width: 580px; height: 80px; 
}
h3 {
	text-align: center; 
	font-size: 64px; 
	color: #000; 
	font-family:'LasVegasFabulous';
    height: 75px;
 }
h4 {
    font-size:20px;
    font-weight:bold;
    padding:5px 0;
}
input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #444;
    margin:1px;
}
input[type=text], input[type=password] {
    padding:1px;
}
input[type=checkbox], input[type=radio] {
    border:none;
}

br { clear:both; }

.imgButton a, .imgButton input {
    display:block;
	margin: 10px auto 0;
    width:185px;
    height:59px;
    background: url('../images/cacNewButton.png') no-repeat;
	color:#FFF;
	font-family:'LasVegasFabulous';
	font-size:32px;
	line-height:55px;
	text-decoration:none;
	text-align:center;
	border:none;
	outline:0;
	padding:0;
}
.imgButton a:active, .imgButton input:active
{
    background-position:0 -59px;
}
.left-image {
	display: inline;
	float: left;
}
.bottom-image {
	border-top: 10px solid #fefefd;
	display: block;
}

.main.hideSidebar .sidebar
{
    display:none;
}
.sidebar {
	display: inline;
	float: left;
	padding: 20px;
	width: 240px;	
}
.sidebar h3 { 
	width: 240px;
	color:#474747;
}

.content {
	display: inline;
	position: relative;
	float: right;
	border-left: 10px solid #FFFFFF;
	overflow: hidden;
	width: 680px;
	min-height:540px;
	background-color:#EFEFEF;
}
.main.hideSidebar .content {
    width:100%;
}
.main.hideSidebar .content h1 {
	font-size: 92px; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-align: center;
	margin-top: 180px;
	color: #000;
	line-height: 50px;
	font-family:'LasVegasFabulous';
}
.content p {
	font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-stretch: condensed;
	line-height: 1.5em;
    margin:20px auto;
    text-align:justify;
}
.content .slideshow-image {
	background: #fefefc;
	border-right: 10px solid #fefefc;
	display: inline;
	float: left;
}
.content .slideshow-text {
	display: inline;
	float: right;
	width: 432px;
}
.content h3 {
    padding:20px 0 0 0;
}

.banners {
    clear:both;
    border-top:solid 10px #FFF;
}
.banners div {
	display: inline;
	float: left;
}
.banners div a {
	color:#444;
	display: block;
	padding: 20px;
}
.banners div a:hover {
	text-decoration: none;
}
.banners h3 
{
    font-family:inherit;
    font-size:28px;
    height:45px;
    font-weight:bold;
    font-style:italic;
    margin:0 auto;
    line-height:1.2em;
	color: #202020;	
}
.banners div p {
	line-height: 1.125em;
	width:100%;
	text-align: center;
	margin-bottom:0;
}

.dual div { width: 480px; }
.triple div { width: 317px; }
.triple .last { width: 316px; }

.first { background: #faa43f; border-right: solid 10px #FFF; }
.second { background: #c9d5c4; border-right: solid 10px #FFF; }
.last { background: #ade1fa; float: right; }

#footer,
#footer-nav ul li a {
	color: #434342;
}
#footer {
	margin-top: 0;	
	padding-bottom: 30px;	
}

.copyright,
#footer-nav,
#footer-nav ul,
#footer-nav ul li {
	display: inline;	
}
.copyright {
	font-size: 12px;
	padding-right: 50px;	
}
#footer-nav ul li {
	list-style: none;
}
#footer-nav ul li a {
	color: #434342;
}

label.width300, label.width480,
label.width240, label.width200 {
    text-align:right;
    float:left;
    padding-right:5px;
}
label.width200 {
    width: 200px;
}
label.width240 {
    width: 240px;
}
label.width300 {
    width:300px;
}
label.width480 {
    width:480px;
}
.error {
    color:#AA2222;
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
}
.error a, .error a:visited {
    color:#AA2222;
}
.editGridView {
    width:90%;
    margin:auto;
    border:solid 1px;
}
.editGridView tr:first-child {
    border-bottom:solid 1px;
}
.editGridView .tdCenter {
    text-align:center;
    vertical-align:middle;
}
.editGridView .pager table td 
{
    padding:0 3px;
}
.lbNote {
    float:left;
    padding:10px 21px;
    font-size:10px;
    width:150px;
    background:url(/images/smGreenArrow.png) no-repeat 0 center;
}
.toolTip {
    display:none;
}
.ttMark {
    cursor:help;
    font-weight:bold;
}
.topDetails {
	text-align:center;
	padding:20px;
	line-height:1;
}
.topDetails>div:first-child {
	font-weight:bold;
}
.imgButton a, .imgButton input {
    display:block;
	margin: 10px auto 0;
    width:185px;
    height:59px;
    background: url('../images/cacNewButton.png') no-repeat;
	color:#FFF;
	font-family:'LasVegasFabulous';
	font-size:32px;
	line-height:55px;
	text-decoration:none;
	text-align:center;
	border:none;
	outline:0;
	padding:0;
}
.imgButton a:active, .imgButton input:active
{
    background-position:0 -59px;
}
.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
/* Old Fieldset Stuff */
.labelCell {
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
fieldset {
    width:90%;
    margin:20px auto;
    padding:10px 10px 20px;
    border:solid 2px #C6DA2D;
    -moz-border-radius:10px;
	-webkit-border-radius: 10px; 
	border-radius: 10px;
}
fieldset legend {
    font-size:1.2em;
    font-weight:bold;
}
/* FONTS
----------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'LasVegasFabulous';
    src: url('fonts/lasvf00-webfont.eot');
    src: url('fonts/lasvf00-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lasvf00-webfont.woff') format('woff'),
         url('fonts/lasvf00-webfont.ttf') format('truetype'),
         url('fonts/lasvf00-webfont.svg#LasVegasFabulous') format('svg');
    font-weight: normal;
    font-style: normal;
}