<div id="ctl00_main" class="main" style="background-color:#C6DA2D;">
	{{> organisms-sidebar }}
	<div class="content clearfix">
                
		<img src="../../images/{{ hero-image }}" alt="" class="left-image" />

		<div style="float:left;width:220px;margin-top:20px;">
		    <h3 style="font-size:72px;margin: 60px auto 20px;">{{ sidebar-title }}</h3>
		    <p style="text-align:center;margin:20px 10px;">
		    	{{ hero-paragraph }}
		    </p>
		    <p id="ctl00_cphBody_btnLogin" class="imgButton" style="margin:40px auto;">
		        <a id="ctl00_cphBody_lbtnLogin" href="javascript:__doPostBack(&#39;ctl00$cphBody$lbtnLogin&#39;,&#39;&#39;)">Log in</a>
		    </p>
		</div>
	</div>
</div>