<div id="ctl00_masterSidebar" class="sidebar" style="background-color:#C6DA2D;">
	<h3 style="margin:0 auto;">{{ sidebar-title }}</h3>
    <ul id="ctl00_navSidebar" class="secondary-nav">
    	{{# nav-links }}
			<li><a href='{{ href }}'>{{{ name }}}</a></li>
    	{{/ nav-links }}
	</ul>
</div>